{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVession": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    // "eslint:recommand",
    // "plugin:react/recommended"
    "airbnb"
  ],
  "plugins": ["import", "react-hooks"],
  "rules": {
    "no-underscore-dangle": "off"
  }
}
